


/*h1 h5{
  color: color;
  color: #59ff00;
  color: rgb(164, 36, 36);
}
p{
  color: red;
}

p i{
  color: pink;

}
p{
  #Parrafo2{
    color: #0776f9;
  }
}

.imageRe{
  height: 250px;
  width: 300px;
}
*/
