html{
  background-image: url(http://www.desktop-screens.com/data/out/53/2959009-hip-hop-wallpapers.jpg);
  background-size: auto;
}

h1{
  color: color;
  color: #feffff;
}

h4{
  color: color;
  color: rgb(255, 3, 3);
}

img{
  #img1{
    position: absolute;
  }
}

h3{
  color: color;
  color: #ffffff;
}
p{
  color: color;
  color: #ffffff;
}


/*h1 h5{
  color: color;
  color: #59ff00;
  color: rgb(164, 36, 36);
}
p{
  color: red;
}

p i{
  color: pink;

}
p{
  #Parrafo2{
    color: #0776f9;
  }
}

.imageRe{
  height: 250px;
  width: 300px;
}
*/
