a[class~="estilo2"]{
  background: blue;
}

a[class=estilo1]{
  background: yellow;
}








/*p[class]{
  background: yellow;
}

p[class=clase2]{
  background: turquoise;
}*/

/*p > span{
  background: green;
}
/*Selector descendente
p a{
  background: red;
}
p > a{
  background: purple;
}

h2{
  background: pink;
}

h1 + h2{
  background: brown;
}
p+p{
  text-indent: 15em;
}
p{
  background: yellow;
}
*/
