body{
  background-image: repeating-radial-gradient(#1e1b44,#ffffff);
}

@media only screen and (min-width: 768px){
.cajitafeliz{
  display: table-row;
}
img{
  width: 400px;
  height: auto;
}
  .col1{
    width: 33%;
    font-size: 15pt;

    display: table-cell;

  }
  .col2{
    width: 33%;
  /*  box-sizing: border-box;*/
    display: table-cell;
  }
  .col3{
    width: 33%;
    font-size: 15pt;

    display: table-cell;
  }
}

@media only screen and (max-width: 767px){
  .col2{
    width: 50%;
    position: absolute;
  }
  [class*="col"]{
    width: 100%;
    font-size: 15pt;
  }

}
